header.print-logo{display:block !important;background:#FFF;}.section-header{display:none;}.field-name-field-banner{background:none !important;}#region-sidebar-second,#region-content .tabs,#region-content .action-links,.edit,.delete,#section-footer,#region-page-bottom{display:none !important;background:#FFF !important;}body.admin-menu{margin:0px !important;}#page{padding:0 60px 30px;background:#FFF !important;}body #page #section-content{padding-top:20px;padding-bottom:20px;}#section-content .field-name-breadcrumb-code-field{display:none;}
