.node-hero-item .field-name-field-hero-cta a {
	padding-top: 2px;
}

	
.node-admissions .group_page_nav_module .field-name-admissions-page-nav-module ul li + li + li{
    margin-bottom: -1px;
}

.showcase-thumbnail-wrapper-vertical .showcase-thumbnail {
    margin-bottom: 11px;
}

header #search-header-form {
    margin-right: 0px;
}

a.arrow{
    padding-top: 2px;
}

div.arrow a{
    padding-top: 2px;
}