header#section-header #region-user-second ul.menu li.separator {
    display: none;
}

header #search-header-form {
    margin-right: 0px;
}

.field-name-field-banner .node-banner-hero-gallery, .node-banner-gallery {
    height: 370px;
    margin: 0 auto;
    padding-right: 220px;
    width: 660px !important;
    position: relative;
    z-index: 100;
}

.field-name-field-hero-item,
.node-hero-item view-mode-full,
.field-name-field-hero-image img,
.orbit-wrapper{
    height: 370px!important;
    width: 660px!important;
    z-index: 100;
}

	#zone-menu-wrapper{	z-index: -1;}
		
/* 		#section-header ul.menu ul.menu {  z-index: 1;} */


#section-header #block-menu-menu-utility-navigation {
    float: left;
/*
    margin-right: 0;
    margin-top: 9px;
*/
}

#block-block-7, #block-google-appliance-ga-block-search-form {
    float: left;
    margin-top: 3px;
}

header #google-appliance-block-form {
/*     display: inline; */
/*     margin-right: 0px!important; */
/*     position: relative; */
    float: left;
    margin-top: -2px;
}

.region-user-second-inner {}

footer {z-index: -1; position: relative;}

footer #block-menu-menu-footer-menu {
    display: block;
    float: left;
}
	footer ul.menu {
	   width: auto;
	}