/* =======================================================================================================
        Responsive CSS
=========================================================================================================*/
@media screen and (max-width: 768px) {

  /*html {min-width: 0;}  
  #section-header {min-width: 0;}*/
  .field-name-sharing-links {display: none;} /* Temporary */

  /* Notes =======================================================================================================

  	Revisit the right padding for elements. Should add global class from alignment or a wrapper 
	Revisit the important css on desktop and reponsive

  ======================================================================================================= */


  header {display: none;}

  img {max-width: 100%; height: auto;}
  .field-name-field-main-image img, .field-name-field-banner-image img {max-width: 100%; height: auto; padding-right: 0; width: 100%;}

  input[type='button'], input[type='submit'] {-webkit-appearance: none;}

  	/* Right Sidebar */
	aside#region-sidebar-second {position: relative; top: 0; overflow: hidden; width: 100%;}
	aside#region-sidebar-second .region-sidebar-second-inner {position: relative !important; top: 0 !important; width: auto; padding: 10px;} /* Revisit the js that sets position */
	aside#region-sidebar-second .region-sidebar-second-inner > div {float: left; top: 0 !important; overflow: hidden; width: 30.6%; padding: 1.3%;}
	aside#region-sidebar-second .region-sidebar-second-inner .block-menu-social-media-menu {float: none; clear: both; margin: 0 auto;}

	/* Homepage */
	.field-name-field-home-bottom-images-bg img {display: none;}

	.wrapper_small, .page-comment .captcha, .page-comment #edit-actions {padding: 0 20px;}

	.field-collection-item-field-home-bottom-images .group-img {padding-right: 0; margin-bottom: 10px;}
  	.field-collection-item-field-home-bottom-images:nth-child(even) .field-name-field-home-bottom-images-image .img-wrapper {padding-right: 0;}
  	.field-collection-item-field-home-bottom-images:nth-child(odd) .field-name-field-home-bottom-images-image .img-wrapper {padding-right: 0}

  	/* Slider */
 	 .field-name-field-banner .node-banner-hero-gallery, .node-banner-gallery {width: auto; height: auto; padding-right: 0;}

  	/* Contact Us */
  	.wrapper_small, .page-comment .captcha, .page-comment #edit-actions {width: auto !important;}
  	.page-directory #region-content .view-content .views-row {width: auto; padding: 0 40px;} /* Width was 90% */
	.page-directory #region-content .view-content .views-row .node-teaser {padding: 36px 20px 33px;}

	/* Footer */
	footer {width: 100%; height: auto; padding: 15px 0;}
	.zone-footer-wrapper {padding: 0 20px;}
	footer #block-menu-menu-footer-menu {display: block; float: left; width: 170px;}
	footer ul.menu {margin-left: 0;}
	footer #block-block-5 {margin: 0;}

	/* Global */
	.group_top_info {width: auto; padding: 0 20px; word-wrap: break-word;}

	.node-type-program-page .field-collection-view .entity-field-collection-item, .node-type-field-of-study .field-collection-view .entity-field-collection-item, .node-type-hub-page .field-collection-view .entity-field-collection-item {width: auto; padding: 40px; text-align: center;}

	.mobile-tabs li {width: 100% !important; float: none; clear: both;}

	/* Banner Image */
	.field-name-field-banner .node-banner-hero-gallery, .node-banner-gallery {width: auto !important;} /* Redundancy */
	.node-banner-gallery .orbit-wrapper {min-height: 0;}
	.field-name-field-banner-slide {height: auto !important;}
	.node-banner-gallery div.orbit {min-height: 0;}
	.node-banner-gallery .field-name-field-banner-image {width: auto; height: auto;}
	.field-name-field-main-image img, .field-name-field-banner-image img {width: auto !important; height: auto; padding-right: 0;}


	/* Accordion */
	.wrapper {width: 100% !important; padding: 0;}
	#region-content .field-group-format-toggler a {right: 5%;}
	body.page-faq #region-content .group_section h2, body.node-type-accordion-page #region-content .field-name-field-item-title {width: auto; margin-right: 25px;}
	body.page-faq #region-content .group_section .field-name-body, body.node-type-accordion-page #region-content .field-name-field-item-content {padding: 0 20px;}


	/* Search */
	.page-directory #region-content .view-content .views-row {padding: 0 20px;}
	.page-directory #region-content .view-content .views-row .node-teaser, .page-events-list .event-listings .view-content .views-row {width: auto;}
	.page-faculty-research-faculty-directory.page-directory #region-content .view-content .views-row .group-middle {width: 50%;}
	.page-faculty-research-faculty-directory.page-directory #region-content .view-content .views-row .group-right, .page-contact-us #region-content .view-content .views-row .group-right {width: 50%;}
}

@media screen and (max-width: 600px) {
	aside#region-sidebar-second .region-sidebar-second-inner > div {float: none; clear: both; width: 100%;}
} 

@media screen and (max-width: 480px) {

	/* Right Sidebar */
	aside#region-sidebar-second .region-sidebar-second-inner > div {float: none; width: auto;}

	/* Slider */
	.field-name-field-banner .node-banner-hero-gallery {width: 100% !important; height: auto;}
	div.orbit {overflow: visible; height: 100% !important; min-height: 575px;}
	div.orbit-wrapper {overflow: visible; height: 100% !important; min-height: 575px;}
	.node-hero-item .field-name-field-hero-image {position: relative; width: 100%; height: auto;}
	.node-hero-item .field-name-field-hero-type {margin: 0 0 10px 0;}
	.node-hero-item .group_slide_info {float: none; clear: both; display: block; position: relative; width: 100%; padding: 10px 0 0 0;}
	.node-hero-item .group_slide_info div {padding: 0 20px;}

	/* Contact Us */
	.page-contact-us #region-content .view-content .views-row .group-right {float: none;}

	/* Footer */
	footer {background: #fff;}
	footer #block-menu-menu-footer-menu {float: none; margin: 0 auto;}
	footer #block-block-5 {float: none; margin: 15px 0;}
	footer ul.menu li {display: inline-block; text-align: center;}
	footer #block-block-5 p {text-align: center;}

	/* Global */
	.node-type-program-page .field-collection-view .entity-field-collection-item, .node-type-field-of-study .field-collection-view .entity-field-collection-item, .node-type-hub-page .field-collection-view .entity-field-collection-item {width: auto; padding: 20px;}
	.node-type-program-page .field-collection-view .entity-field-collection-item .field-name-field-subpage-image, .node-type-field-of-study .field-collection-view .entity-field-collection-item .field-name-field-subpage-image, .node-type-hub-page .field-collection-view .entity-field-collection-item .field-name-field-subpage-image {float: none; display: inline-block;}

	/* Banner */
	.node-banner-gallery .field-name-field-banner-image {width: 100%; height: auto;}

	#region-content .field-name-field-view-filter form input#edit-search, #region-content .field-name-field-view-filter form input#edit-keys, #region-content .field-name-field-view-filter form input#edit-search-multiple {width: 93%;}

	/* Search */
	#region-content .field-name-field-view-filter form {width: auto;} /* Width in global.css should be changed to max-width then this line can be removed. */
	#region-content .field-name-field-view-filter form .views-exposed-widget {float: none; width: auto; margin-right: 0; position: relative;}
	#region-content .views-exposed-widget.views-submit-button, #region-content .views-exposed-widget.views-reset-button {float: left !important; width: 48% !important;}
	#region-content .views-exposed-widget.views-submit-button {margin-right: 10px !important;}
	#region-content .field-name-field-view-filter form .form-submit, .search-google-appliance-search-form .form-submit, body.page-single-login .form-submit {position: relative; right: 0 !important; width: 100%;}
	body.page-faculty-research #region-content form div.views-exposed-form #edit-keys-wrapper {width: auto; margin-right: 0;}
	#region-content .field-name-field-view-filter form input[type=text] {width: 93%;}     /* Need to refactor form fields and inputs */
	body.page-faculty-research #region-content form div.views-exposed-form #edit-keys-wrapper #edit-keys {width: 93%;} /* Need to refactor form fields and inputs */
	.toggler {clear: both; padding-top: 32px;}
	h3.director-trigger.open, h3.director-trigger, .page-events-list .event-listings h3.director-trigger {clear: both; width: auto; background-position: right 8px;}
	#region-content .field-name-field-view-filter form .views-exposed-widget .views-widget label {width: auto; float: left; margin-left: 10px;}
	.rss-container {right: -15px;}

	.page-directory #region-content .view-content .views-row .group-left {float: none; margin-bottom: 15px;}
	.page-faculty-research-faculty-directory.page-directory #region-content .view-content .views-row .group-middle {float: none; width: 100%;} 
	.page-faculty-research-faculty-directory.page-directory #region-content .view-content .views-row .group-right, .page-contact-us #region-content .view-content .views-row .group-right {float: none; width: 100%;}
	.page-faculty-research-faculty-directory.page-directory #region-content .view-content .views-row .image .group-middle {width: auto;}

	/* Hub Page */
	.field-collection-view.even .entity-field-collection-item .field-name-field-subpage-image {float: none; display: inline-block;}
	.field-collection-view .entity-field-collection-item .group_subpage_teaser {float: none; text-align: left; margin: 0 auto;}
	.field-collection-view.even .entity-field-collection-item .group_subpage_teaser {float: none; text-align: left; margin: 0 auto;}

}

@media screen and (max-width: 400px) { 
	ul.view_tabs {width: 100%;}  /*Width in global.css should be changed to max-width then this line can be removed. */
	#section-content .view_tabs li, #section-content #region-content .switcher-tabs li {float: none; width: auto;}
	#section-content .horizontal-tabs ul.horizontal-tabs-list li a, #section-content .view_tabs li a {background: #fff url(../images/line-break.png) top repeat-x;}
}